{% extends "base.html.twig" %}
{% block body %}
<div class="circle d-flex flex-row-reverse bd-highlight pt-5 ">
    <div class="circle1 rounded-circle  bg-dark m-5 text-white" style="height:400px; width:400px;">
        <p>............</p>
        <p>...............</p>
        <p>...............</p>
        <p>...............</p>
        <h2>Mettez vos photos</h2>
    </div>
    <div class="rounded-circle bg-success " style="height:300px; width:300px;">
    <li>............</li>
    <li>...............</li>
    <li>...............</li>
    <h2>N'hésitez pas</h2>
</div>
</div>

<!--<div class="col-4">
<img src="../../images/photo1.jpeg" class="rounded-circle" alt="..."style="height: 200px;
    width:300px;"></div>
<div class="col-4">
<img src="../../images/photo2.webp" class="rounded-circle" alt="..."style="height: 200px;
    width:300px;"></div>
<div class="col-4">
<img src="../../images/profil.webp" class="rounded-circle" alt="..."style="height: 200px;
    width:300px;">
</div>
</div>-->
<img src="../../images/image.png" class="position-absolute bottom-0 end-0" alt="..."style="height: 500px;
    width:800px;"></div>
{% endblock body %}